* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1230px;
  margin: auto;
}

.cell {
  width: 50%;
}

@font-face {
  font-family: 'Lato Regular';
  src: url("../fonts/Lato-Regular.eot");
  src: url("../fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato Italic';
  src: url("../fonts/Lato-Italic.eot");
  src: url("../fonts/Lato-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Italic.woff") format("woff"), url("../fonts/Lato-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato Bold';
  src: url("../fonts/Lato-Bold.eot");
  src: url("../fonts/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato Bold Italic';
  src: url("../fonts/Lato-BoldItalic.eot");
  src: url("../fonts/Lato-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-BoldItalic.woff") format("woff"), url("../fonts/Lato-BoldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Lato Italic', sans-serif;
}

header {
  background: url(../img/bg.png);
  height: 1000px;
}

h3 {
  font-family: 'Lato Bold Italic', sans-serif;
  font-size: 24px;
  color: #d70231;
  text-transform: uppercase;
}

.navbar-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 300px;
}

.navbar__menu {
  display: block;
}

.navbar__links {
  position: absolute;
  width: 90px;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border: 1px solid #d70231;
  border-radius: 50%;
  padding: 15px;
  -webkit-box-shadow: 0 0 5px 1px rgba(215, 2, 49, 0.5);
          box-shadow: 0 0 5px 1px rgba(215, 2, 49, 0.5);
  font-family: 'Lato Italic', sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  color: #fff;
  opacity: 0;
  z-index: 0;
}

.navbar__links img {
  width: auto;
  height: auto;
  padding-bottom: 15px;
}

.navbar__links--0 {
  -webkit-transition: .35s ease;
  transition: .35s ease;
  left: calc(50% - 45px);
  top: 110px;
}

.navbar__links--1 {
  -webkit-transition: .35s ease;
  transition: .35s ease;
  left: calc(50% - 45px);
  top: 110px;
}

.navbar__links--2 {
  -webkit-transition: .35s ease;
  transition: .35s ease;
  right: calc(50% - 45px);
  top: 110px;
}

.navbar__links--3 {
  -webkit-transition: .35s ease;
  transition: .35s ease;
  right: calc(50% - 45px);
  top: 110px;
}

.navbar .item-0 {
  top: 20px;
  left: calc(50% - 150px);
  opacity: 1;
  z-index: 1;
}

.navbar .item-1 {
  top: 180px;
  left: calc(50% - 150px);
  opacity: 1;
  z-index: 1;
}

.navbar .item-2 {
  top: 20px;
  right: calc(50% - 150px);
  opacity: 1;
  z-index: 1;
}

.navbar .item-3 {
  top: 180px;
  right: calc(50% - 150px);
  opacity: 1;
  z-index: 1;
}

.menu-button {
  height: 20px;
  cursor: pointer;
  z-index: 100;
}

.menu-button__line {
  width: 42px;
}

.menu-button__line {
  position: relative;
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
  border: 1px solid #d70231;
  border-radius: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  -webkit-transition: all 0ms 300ms;
  transition: all 0ms 300ms;
}

.menu-button .animate {
  border: none;
}

.menu-button__line:before {
  content: "";
  position: absolute;
  width: 40px;
  left: -1px;
  bottom: 8px;
  border: 1px solid #d70231;
  border-radius: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  -webkit-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-button__line:after {
  content: "";
  position: absolute;
  width: 40px;
  left: -1px;
  top: 8px;
  border: 1px solid #d70231;
  border-radius: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  -webkit-transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-button .animate::after {
  top: -3px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-button .animate::before {
  bottom: 1px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

@-webkit-keyframes arrow {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(-10px, -10px);
            transform: rotate(45deg) translate(-10px, -10px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(10px, 10px);
            transform: rotate(45deg) translate(10px, 10px);
  }
}

@keyframes arrow {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(-10px, -10px);
            transform: rotate(45deg) translate(-10px, -10px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(10px, 10px);
            transform: rotate(45deg) translate(10px, 10px);
  }
}

.hero__info {
  padding-top: 150px;
  padding-bottom: 370px;
  text-align: center;
}

.hero__name {
  font-family: 'Lato Bold', sans-serif;
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
}

.hero__position {
  font-size: 20px;
  color: #d70231;
}

.scroll-down {
  display: -ms-grid;
  display: grid;
  text-align: center;
  font-family: 'Lato Regular', sans-serif;
  font-size: 10px;
  color: #d70231;
  text-transform: uppercase;
  cursor: pointer;
}

.scroll-down__arrow {
  margin: 0 auto;
  padding-bottom: 20px;
}

.scroll-down__arrow:hover > span {
  -webkit-animation: arrow 1.2s infinite;
          animation: arrow 1.2s infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.scroll-down span {
  display: block;
  width: 16px;
  height: 16px;
  border-bottom: 3px solid #d70231;
  border-right: 3px solid #d70231;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: 0.2;
}

.scroll-down span:nth-child(2) {
  opacity: 0.5;
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}

.scroll-down span:nth-child(3) {
  opacity: 1;
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}

@-webkit-keyframes html {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

@keyframes html {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

@-webkit-keyframes css {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

@keyframes css {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

@-webkit-keyframes jquery {
  0% {
    width: 0%;
  }
  100% {
    width: 40%;
  }
}

@keyframes jquery {
  0% {
    width: 0%;
  }
  100% {
    width: 40%;
  }
}

@-webkit-keyframes javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 20%;
  }
}

@keyframes javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 20%;
  }
}

.about {
  background: #080808;
}

.about__block {
  padding-top: 100px;
  padding-bottom: 130px;
}

.about-block__description {
  font-family: 'Lato Regular', sans-serif;
  font-size: 15px;
  line-height: 40;
  color: #fff;
  line-height: 2.667;
}

.about__progress-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.about__progress-bar__name {
  font-family: 'Lato Bold', sans-serif;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
}

.about__progress-bar__track {
  width: 100%;
  height: 4px;
  background: #252525;
  margin-left: 10px;
}

.about__progress-bar__track-line {
  height: 4px;
  background: #d70231;
}

.about__progress-bar__track-line.html {
  width: 90%;
  -webkit-animation: html 2s;
          animation: html 2s;
}

.about__progress-bar__track-line.css {
  width: 90%;
  -webkit-animation: css 2s;
          animation: css 2s;
}

.about__progress-bar__track-line.jquery {
  width: 40%;
  -webkit-animation: jquery 2s;
          animation: jquery 2s;
}

.about__progress-bar__track-line.javascript {
  width: 20%;
  -webkit-animation: javascript 2s;
          animation: javascript 2s;
}

.about__progress-bar:last-child {
  margin-bottom: 0;
}
/*# sourceMappingURL=style.css.map */