* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1230px;
  margin: auto;
}

.cell {
  width: 50%;
}

@font-face {
  font-family: 'Lato Regular';
  src: url("../fonts/Lato-Regular.eot");
  src: url("../fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato Italic';
  src: url("../fonts/Lato-Italic.eot");
  src: url("../fonts/Lato-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Italic.woff") format("woff"), url("../fonts/Lato-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato Bold';
  src: url("../fonts/Lato-Bold.eot");
  src: url("../fonts/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato Bold Italic';
  src: url("../fonts/Lato-BoldItalic.eot");
  src: url("../fonts/Lato-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-BoldItalic.woff") format("woff"), url("../fonts/Lato-BoldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Lato Italic', sans-serif;
  background: #080808;
}

header {
  background: url(../img/bg.png);
  max-height: auto;
}

footer {
  background: url(../img/footer-bg.png);
  max-height: auto;
}

h3 {
  font-family: 'Lato Bold Italic', sans-serif;
  font-size: 24px;
  color: #d70231;
  text-transform: uppercase;
}

input[type="text"] {
  width: 270px;
  padding: 16px 0px 16px 14px;
}

.form__input {
  margin-bottom: 24px;
}

.form__input:last-child {
  margin-bottom: 0;
}

textarea {
  width: 770px;
  height: 100%;
  padding: 16px 0px 0px 13px;
  resize: none;
}

input, textarea {
  border: 3px solid #252525;
  background: transparent;
  font-family: 'Lato Regular', sans-serif;
  font-size: 15px;
  color: #484848;
  outline: none;
}

.navbar-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 300px;
}

.navbar__menu {
  display: block;
}

.navbar__links {
  position: absolute;
  width: 90px;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border: 1px solid #d70231;
  border-radius: 50%;
  padding: 15px;
  -webkit-box-shadow: 0 0 5px 1px rgba(215, 2, 49, 0.5);
          box-shadow: 0 0 5px 1px rgba(215, 2, 49, 0.5);
  font-family: 'Lato Italic', sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  color: #fff;
  opacity: 0;
  z-index: 0;
  pointer-events: none;
}

.navbar__links img {
  width: auto;
  height: auto;
  padding-bottom: 15px;
}

.navbar__links--0 {
  -webkit-transition: .35s ease;
  transition: .35s ease;
  left: calc(50% - 45px);
  top: 110px;
}

.navbar__links--1 {
  -webkit-transition: .35s ease;
  transition: .35s ease;
  left: calc(50% - 45px);
  top: 110px;
}

.navbar__links--2 {
  -webkit-transition: .35s ease;
  transition: .35s ease;
  right: calc(50% - 45px);
  top: 110px;
}

.navbar__links--3 {
  -webkit-transition: .35s ease;
  transition: .35s ease;
  right: calc(50% - 45px);
  top: 110px;
}

.navbar .item-0 {
  top: 20px;
  left: calc(50% - 150px);
  opacity: 1;
  z-index: 1;
  pointer-events: auto;
}

.navbar .item-1 {
  top: 180px;
  left: calc(50% - 150px);
  opacity: 1;
  z-index: 1;
  pointer-events: auto;
}

.navbar .item-2 {
  top: 20px;
  right: calc(50% - 150px);
  opacity: 1;
  z-index: 1;
  pointer-events: auto;
}

.navbar .item-3 {
  top: 180px;
  right: calc(50% - 150px);
  opacity: 1;
  z-index: 1;
  pointer-events: auto;
}

.menu-button {
  height: 20px;
  cursor: pointer;
  z-index: 100;
}

.menu-button__line {
  width: 42px;
}

.menu-button__line {
  position: relative;
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
  border: 1px solid #d70231;
  border-radius: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  -webkit-transition: all 0ms 300ms;
  transition: all 0ms 300ms;
}

.menu-button .animate {
  border: none;
}

.menu-button__line:before {
  content: "";
  position: absolute;
  width: 40px;
  left: -1px;
  bottom: 8px;
  border: 1px solid #d70231;
  border-radius: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  -webkit-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-button__line:after {
  content: "";
  position: absolute;
  width: 40px;
  left: -1px;
  top: 8px;
  border: 1px solid #d70231;
  border-radius: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  -webkit-transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-button .animate::after {
  top: -3px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-button .animate::before {
  bottom: 1px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

@-webkit-keyframes arrow {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(-10px, -10px);
            transform: rotate(45deg) translate(-10px, -10px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(10px, 10px);
            transform: rotate(45deg) translate(10px, 10px);
  }
}

@keyframes arrow {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(-10px, -10px);
            transform: rotate(45deg) translate(-10px, -10px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(10px, 10px);
            transform: rotate(45deg) translate(10px, 10px);
  }
}

.hero__info {
  padding-top: 161px;
  padding-bottom: 370px;
  text-align: center;
}

.hero__name {
  font-family: 'Lato Bold', sans-serif;
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
}

.hero__position {
  font-size: 20px;
  color: #d70231;
}

.scroll-down {
  display: -ms-grid;
  display: grid;
  text-align: center;
  font-family: 'Lato Regular', sans-serif;
  font-size: 10px;
  color: #d70231;
  text-transform: uppercase;
  padding-bottom: 40px;
}

.scroll-down__arrow {
  margin: 0 auto;
  padding-bottom: 20px;
  cursor: pointer;
}

.scroll-down__arrow:hover > span {
  -webkit-animation: arrow 1.2s infinite;
          animation: arrow 1.2s infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.scroll-down span {
  display: block;
  width: 16px;
  height: 16px;
  border-bottom: 3px solid #d70231;
  border-right: 3px solid #d70231;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: 0.2;
}

.scroll-down span:nth-child(2) {
  opacity: 0.5;
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}

.scroll-down span:nth-child(3) {
  opacity: 1;
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}

@-webkit-keyframes html {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

@keyframes html {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

@-webkit-keyframes css {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

@keyframes css {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

@-webkit-keyframes jquery {
  0% {
    width: 0%;
  }
  100% {
    width: 40%;
  }
}

@keyframes jquery {
  0% {
    width: 0%;
  }
  100% {
    width: 40%;
  }
}

@-webkit-keyframes javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 20%;
  }
}

@keyframes javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 20%;
  }
}

@-webkit-keyframes webdesign {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}

@keyframes webdesign {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}

.about__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 100px;
  padding-bottom: 130px;
}

.about__block .cell:last-child {
  padding-left: 25px;
}

.about-block h3.title {
  margin: 0;
  margin-top: 60px;
  margin-bottom: 40px;
}

.about-block__info {
  font-family: 'Lato Regular', sans-serif;
  font-size: 15px;
  color: #fff;
  line-height: 2.767;
}

.about-block__description:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.about-block__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 3px solid #252525;
  padding-top: 25px;
  padding-bottom: 25px;
  opacity: 0.1;
}

.about-block__description-icon {
  padding-right: 30px;
}

.about-block__description-content {
  font-family: 'Lato Regular', sans-serif;
  font-size: 15px;
  color: #fff;
  line-height: 1.765;
}

.about-block__description-content b {
  font-family: 'Lato Bold Italic', sans-serif;
  font-size: 17px;
}

.about-block__description:hover {
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: 1;
}

.about__progress-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.about__progress-bar__name {
  font-family: 'Lato Bold', sans-serif;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
}

.about__progress-bar__track {
  width: 100%;
  height: 4px;
  background: #252525;
  margin-left: 10px;
}

.about__progress-bar__track-line {
  height: 4px;
  background: #d70231;
}

.about__progress-bar__track-line.html {
  width: 90%;
  -webkit-animation: html 3s;
          animation: html 3s;
}

.about__progress-bar__track-line.css {
  width: 90%;
  -webkit-animation: css 3s;
          animation: css 3s;
}

.about__progress-bar__track-line.jquery {
  width: 40%;
  -webkit-animation: jquery 3s;
          animation: jquery 3s;
}

.about__progress-bar__track-line.javascript {
  width: 20%;
  -webkit-animation: javascript 3s;
          animation: javascript 3s;
}

.about__progress-bar__track-line.webdesign {
  width: 60%;
  -webkit-animation: webdesign 3s;
          animation: webdesign 3s;
}

.about__progress-bar:last-child {
  margin-bottom: 0;
}

.work {
  background: #000000;
}

.work-block__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.work-block__item-link {
  position: relative;
  width: 400px;
  height: 400px;
  max-width: 400px;
  max-height: 400px;
}

.work-block__item-link a img {
  width: 100%;
  height: 100%;
}

.work-block__item-link:after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  cursor: pointer;
  background: url("../img/work/navigation.png");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
}

.work-block__item-link:hover:after {
  -webkit-transition: .35s ease;
  transition: .35s ease;
  opacity: 1;
}

.reviews__block {
  padding-top: 120px;
}

.reviews__block h3.title {
  margin-bottom: 50px;
}

.reviews-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews-block .cell:last-child {
  padding-left: 30px;
}

.reviews-block__item::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin-top: -15px;
  margin-left: -15px;
  background: url("../img/icons/border-1.png");
  background-repeat: no-repeat;
  opacity: 0;
}

.reviews-block__item::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: 15px;
  margin-left: 15px;
  background: url("../img/icons/border-2.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  opacity: 0;
}

.reviews-block__item:hover:after, .reviews-block__item:hover::before {
  -webkit-transition: .35s ease;
  transition: .35s ease;
  opacity: 1;
}

.reviews-block__item {
  position: relative;
}

.reviews-block__item-personal_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.reviews-block__item-personal_info span.name {
  position: relative;
  font-family: 'Lato Bold Italic', sans-serif;
  font-size: 17px;
  color: #fff;
  padding-right: 15px;
  text-transform: uppercase;
}

.reviews-block__item-personal_info span.name:before {
  content: '';
  position: absolute;
  width: 32px;
  height: 4px;
  background: #d70231;
  border-radius: 5px;
  top: 25px;
}

.reviews-block__item-personal_info span.position {
  font-family: 'Lato Bold Italic', sans-serif;
  font-size: 13px;
  color: #252525;
  text-transform: uppercase;
}

.reviews-block__item-comment {
  margin-bottom: 70px;
  font-family: 'Lato Italic', sans-serif;
  font-size: 15px;
  color: #fff;
  line-height: 2;
}

.contact__block {
  padding-bottom: 100px;
}

.contact-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-block__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 31px;
}

.contact-block__message {
  margin-right: 31px;
}

.contact-block__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70px;
  border: 3px solid #252525;
  padding: 0px 21px 0px 21px;
}

.contact-block__btn i {
  color: #252525;
  font-size: 23px;
  cursor: pointer;
}

.footer__block {
  padding-top: 100px;
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__block-media {
  margin-bottom: 100px;
}

.footer__block-media a {
  margin-right: 60px;
}

.footer__block-media a:last-child {
  margin-right: 0;
}

.footer__block-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.footer__block-info span {
  font-family: 'Lato Bold Italic', sans-serif;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.footer__block-info span:last-child {
  padding-bottom: 0;
}
/*# sourceMappingURL=style.css.map */