.footer
    &__block
        padding-top: 100px
        padding-bottom: 100px
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        &-media
            margin-bottom: 100px
            a
                margin-right: 60px
            a:last-child
                margin-right: 0
        &-info
            display: flex
            flex-direction: column
            text-align: center
            span
                +bold-italic
                font-size: 13px
                color: #fff
                text-transform: uppercase
                padding-bottom: 20px
            span:last-child
                padding-bottom: 0